@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Button All And Share All*/

.btn{
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 15px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
}
.btn:hover{
    font-size: 16px;
}
.section-title{
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-description{
    font-size: 16px;
    color:black;
    margin-bottom: 50px;
}
.second-background{
    background-color: antiquewhite;
}
.text-center{
    text-align: center;
    margin: 40px 110px;
}
/* Style for nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px 0px 150px;
    padding: 20px 0px;
}

/* Menu Style */
span{
    color: rgb(196, 35, 69);
}
.nav-title{
    font-weight: 900px;
    font-size: 35px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

/* Banner Section */
.banner-content{
    max-width: 500px;
}
.banner-gritting{
    font-size: 28px;
    font-weight: 600px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.banner-title{
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}
.description{
    font-size: 16px;
    margin-bottom: 30px;
}
.banner-pic{
    width: 500px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px 20px 150px;
}
/* Over All */
.header{
    background-image: url("images/developer.png"),url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* height: 765px; */
    background-size:contain;
    margin-top: 0px;
    margin-bottom: 100px;
}
/* About section */
.About{
    border-radius: 10px;
    margin: 0px 100px 0px 100px;
    padding: 100px 40px;
    text-align: center;
    margin-bottom: 40px;
}
/* Main Section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-items{
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.item-description{
    font-weight: 600;
    /* font-size: bold; */
}
/* Skill Container */
.skill-container{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.skill{
    padding: 60px 20px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    border-radius: 5px;
    width: 170px;
    
}
.skill-align{
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}
/* Section-3 */
.resume-conteiner{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    margin: 15px;
}
.expareance-title{
    margin: 15px;
}
.exparence-subtitle{
    font-size: 15px;
    margin: 15px;
}
.exparence-discription, .exparence-subtitle{
    color: #757575;
    margin: 15px;
}
.resume hr{
    margin: 15px 10px;
}
.download{
    margin: 10px;
}
footer{
    padding: 150px 150px;
    display: flex;
    gap: 25px;
}
.footer-column{
    width: 50%;
}
.text{
    color: #757575;
    margin-bottom: 20px;
}
footer input[type="text"],input[type="email"]{
    height: 50px;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    width: 450px;
    margin-bottom: 20px;
    border: none;
}
textarea{
    height: 50px;
    width: 490px;
    border: none;
    margin-bottom: 20px;
    height: 100px;
    border-radius: 5px;
    background-color: white;
}
.im{
    margin: 10px;
}
